<head>
    <link rel="stylesheet" href="~/StyleSheet.css"/>
</head>
<body>
    <div>
        <h1>Time Persons of the Year</h1>
        <form method="post">
            <label for="startYear">From Year</label>
            <input maxlength="12" placeholder="enter year" name="startYear" />

            <label for="endYear">To Year</label>
            <input name="endYear" />

            <button type="submit">Submit</button>
        </form>
    </div>


</body>