<head>
    <link rel="stylesheet" href="~/StyleSheet.css"/>
</head>
<body>
    <div>
        <h1>TIME</h1>
        <h2>Persons of the Year</h2>
        <form method="post">
            <label for="startYear">FROM</label>
            <input maxlength="4" name="startYear" />

            <label for="endYear">TO</label>
            <input maxlength="4" name="endYear" />

            <button type="submit">Enter</button>
        </form>
    </div>


</body>